body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
}

.btn-submit {
    padding: 10px;
    background-color: chartreuse;
    margin-top: 10px;
    cursor: pointer;
}

.hidden {
    padding: 10px;
    background-color: crimson;
    margin-top: 10px;
    display: pointer;
}

.product-list {
    margin-top: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.product-item{
    background-color: darkkhaki;
}

.best-selling {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: blanchedalmond;
    text-align: center;
}

.best-selling h2 {
    color: #333;
}

.best-selling-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.product-card {
    padding: 10px;
    border-radius: 5px;
    background: darksalmon;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 150px;
}

